@import url('https://fonts.googleapis.com/css?family=Montserrat');

$blue: #0033CC;
$blue-1: #1D41B5;
$yellow: #FFAE00;
$yellow-1: #A3824A;

* {
  font-family: Montserrat, sans-serif;
  color: #eee;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, $blue, $yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, $blue, $yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, $blue, $yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, $blue, $yellow); /* Standard syntax */
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  [class*="square-"] {
    @media (max-width: 1350px) {
      display: none;
    }
  }
  .square {
    position: absolute;
    background: $blue-1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, $blue-1, $yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, $blue-1, $yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, $blue-1, $yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, $blue-1, $yellow); /* Standard syntax */
  }
  .square-1 {
    @extend .square;
    height: 100px;
    width: 100px;
    top: 70px;
    right: 100px;
    background: $blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, $blue, $yellow-1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, $blue, $yellow-1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, $blue, $yellow-1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, $blue, $yellow-1); /* Standard syntax */
  }
  .square-2 {
    @extend .square;
    height: 40px;
    width: 40px;
    top: 20px;
    left: 100px;
  }
  .square-3 {
    @extend .square;
    height: 80px;
    width: 80px;
    top: 80px;
    left: 200px;
  }
  .square-4 {
    @extend .square;
    height: 140px;
    width: 140px;
    top: 400px;
    left: 220px;
  }
  .square-5 {
    @extend .square;
    height: 60px;
    width: 60px;
    top: 700px;
    left: 180px;
  }
  .square-6 {
    @extend .square;
    height: 130px;
    width: 130px;
    top: 470px;
    right: 200px;
    background: $blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, $blue, $yellow-1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, $blue, $yellow-1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, $blue, $yellow-1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, $blue, $yellow-1); /* Standard syntax */
  }
}

.container {
  max-width: 480px;
  height: 100%;
  padding: 0 15px 0 15px;
  h2 {
    margin-top: 80px;
    margin-bottom: 10px;
    color: $yellow;
    @media (max-width: 480px) {
      font-size: 20px;
    }
  }
  h1 {
    margin-bottom: 30px;
    text-shadow: 2px 2px 8px $blue;
    @media (max-width: 480px) {
      font-size: 24px;
    }
  }
  p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
    @media (max-width: 480px) {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 30px;
    }
  }
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
  .last {
    margin-bottom: 80px;
  }
}
